// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bourbon/bourbon";
@import "neat";
@import "base/base";

.book_container {
  @include grid-container;
  
  #book_category {
    @include grid-column(5);
  }
  
  #search {
    @include grid-column(5);
  }
  
  #submit_button {
    @include grid-column(2);
  }
  
  .image_field {
    @include grid-column(4);
  }
  
  .book_information {
    @include grid-column(7);
    @include grid-push(1);
  }
}

input,
select {
  height: 3rem;
}

.books {
  @include grid-column(12);
}

ul {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
}

.head_container {
  @include grid-container;
  margin-top: 1%;
  
  h1 {
    @include grid-column(10);
    font-size: 3em;
    text-align: center;
  }  
  .navigation {
    @include grid-column(2);
    text-align: right;
  }
}

