<div class="head_container">
  <h1>Book list</h1>
  <strong class="navigation"><%= link_to "Dashboards", admin_root_path %></strong>
</div>

<div class="book_container">
  <%= form_for books_path, {:method => :get} do %>
      <%= render 'filter' %>
  <% end %> 
</div>
<ul class="books">
  <% @books.each do |book| %>
    <li><%= link_to book.title, book %></li>
  <% end %>
</ul>