<div class="head_container">
  <h1><%= @book.title %></h1>
  <strong class="navigation"><%= link_to "Book Index", root_path %></strong>
</div>

<div class="book_container">
  <%= render 'information' %>
</div>

